html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
@font-face {
    font-family: customFont;
    src: url(minecraft_font.woff);
  }
body {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:
    linear-gradient(to bottom left, rgba(255, 255, 255, 0.3), rgba(90, 90, 90, 0.7   )),
    url('background.jpg');

    height: 94.8916vh;
    font-family: customFont;
}

.back {
    width: 100vw;
    height: 100vh;
    position: fixed;
    opacity: 70%;
    z-index: -1;
    text-align: center;
}
/* p {

    justify-content: space-around;
    justify-content: space-between;
    justify-content: center;
    display: flex;
    align-items: flex-end/start;
    align-items: center;
    flex-grow: 2;
} */
.header {
    font-size: 12rem;
    height: 19vh;
    background-image: linear-gradient(to bottom left, rgb(8, 231, 28), rgb(11, 148, 43));
    width: 60vw;
    margin: auto;
    margin-top: 5rem;
    border-radius: 3rem;
    align-content: center;
    text-align: center;
    box-shadow: -6px 6px rgb(5, 71, 20); 
    padding-top: 1.5rem;
}
.little{
    font-size: 3rem;
}
