html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    /* background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("background.png");
    background-color: #cccccc; */
    
}
.back {
    width: 100vw;
    height: 100vh;
    position: fixed;
    opacity: 80%;
    z-index: -1;
}
/* p {

    justify-content: space-around;
    justify-content: space-between;
    justify-content: center;
    display: flex;
    align-items: flex-end/start;
    align-items: center;
    flex-grow: 2;
} */
.header {
    font-size: 20rem;
    background-image: url("cloud.png");
    height: 30vh;
}
